<div class="container">
    <form class="form-signin" ng-submit="login()" name="loginForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input ng-model="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input ng-model="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span class="label label-danger" ng-hide="is_valid">{{message}}</span>
        </div>
        <!--TODO: Remember me checkbox -->
        <br>
        <div style="padding-left:28px;"><input type="checkbox" ng-model="savelogin" />Remember me<br /><br /></div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in<span ng-show="is_waiting"><img src="/assets/img/loading.gif"></span></button>
        <!-- Disable login after registration deadline -->
        <button class="btn btn-lg btn-primary btn-block" ng-click="redirectToRegister()">Register</button>
    </form>
</div>